@import "tailwindcss";

@theme {
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-uniswap-pink: #ff007a;
  --color-uniswap-dark: #191b1f;
  --color-uniswap-dark-secondary: #212429;
  --color-uniswap-dark-tertiary: #2c2f36;
  --color-uniswap-text: #ffffff;
  --color-uniswap-text-secondary: #8f96ac;
}

body {
  background-color: var(--color-uniswap-dark);
  color: var(--color-uniswap-text);
  font-family: var(--font-family-sans);
}
